<section class="page-width">
    <!-- Masonry Grid Title -->
    <h2>{{ section.settings.masonry-grid }}</h2>
    <!-- Loop through each block -->
    <div id="shopify-section-masonry-grid" class="masonry-grid grid">
        {% for block in section.blocks %}
            <a href="{{ block.settings.url }}" class="grid-item">
                <img 
                    src="{{ block.settings.image | image_url}}" 
                    alt="{{ block.settings.text }}"
                    loading="lazy"
                    width="600"
                    height="auto"
                >
                <h3>{{ block.settings.text }}</h3>
            </a>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Masonry Grid",
    "settings": [
        {
            "id": "masonry-grid",
            "type": "text",
            "label": "Masonry grid title"
        }
    ],
    "blocks": [
        {
            "name": "masonry-image",
            "type": "masonry_image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Add collection image"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
     {
       "name": "Mansonry Grid",
       "blocks": [
         {
           "type": "masonry_image"
         }
       ]
     }
   ]
}
{% endschema %}

{% javascript %}
    var grid = document.querySelector('.masonry-grid');
    var msnry = new Masonry(grid, {
        itemSelector: '.grid-item',
        columnWidth: '33%'
    })
{% endjavascript %}